@font-face {
    font-family: "jamesfajardo";
    src: url("./james_fajardo.ttf");
}
@font-face {
    font-family: "cardboard";
    src: url("./CardboardCat-Bold.otf");
}
@font-face {
    font-family: "snake";
    src: url("./SnakeHoliday.otf");
}
html, body, div {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body {
    background-color: #666;
    background-image: url("./texture.jpg");
    background-size: cover;
}
.group {
    display: flex;
    padding-bottom: 10px;
}
.button {
    flex-grow: 1;
    display: inline-block;
    background-color: #ccc;
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
    height: 45px;
    border-radius: 10px;
    margin: 2px;
    user-select: none;
    border: 0;
    box-shadow: none;
}
.button:hover {
    background-color: #999;
}
.button:active {
    background-color: #F69;
}
.feedbackBlock {
    display: inline-block;
    background-color: #ccc;
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
    height: 45px;
    width: 200px;
    margin: 2px;
}
.feedback {
    flex-grow: 1;
    display: inline-block;
    background-color: #ccc;
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
    height: 45px;
    margin: 2px;
}
#credits {
    font-family: "jamesfajardo";
    font-size: 256px;
    position: absolute;
    top: 0px;
    right: 200px;
}
#dailyscore {
    font-family: "jamesfajardo";
    font-size: 256px;
    position: absolute;
    bottom: 0px;
    left: 200px;
}
#highscore {
    font-family: "jamesfajardo";
    font-size: 256px;
    position: absolute;
    bottom: 0px;
    right: 200px;
}
#score {
    font-family: "jamesfajardo";
    display: block;
    height: 1000px;
    width: 100%;
    font-size: 720px;
    font-weight: bolder;
    text-align: center;
    /*-webkit-text-stroke: 3px #000000;*/
    /*text-shadow: 0px 0px 10px 10px #333*/
    -webkit-filter: drop-shadow(0px 0px 20px #000);
    filter: drop-shadow(0px 0px 20px #000);
    color: #c40d0d;
    pointer-events: none;
}
.instruction {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    border-radius: 10vh;
    width: 97vw;
    height: 94vh;
    top: 0px;
    left: 0px;
    margin: 3vh 1.5vw;
    background: rgba(128,128,128,0.8);
    visibility: hidden;
    font-size: 90px;
    font-family: "snake";
    text-transform: capitalize;
    pointer-events: none;
}
.instruction p {
    width: 80%;
}
.show {
    visibility: visible;
}
#showDialog {
    border: 0px;
    background: #c40d0d;
    padding: 10px;
    font-size:24px;
    border-radius: 10px;
}
.message {
    font-family: "snake";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 97vw;
    height: 94vh;
    top: 0px;
    left: 0px;
    margin: 3vh 1.5vw;
    color: #eecc00;
    margin-top: 20px;
    font-size: 450px;
    opacity: 0;
    pointer-events: none;
}
.animateText {
    animation: color-animation 0.5s linear;
}
dialog {
    min-width: 30%;
}
@keyframes color-animation {
    0%    {opacity: 0}
    10%   {opacity: 1}
    100%  {opacity: 0}
}